<footer>
  <div class="left-footer">
    <img class="logo" src="assets/img/ESLogo.png" alt="" />

    <div class="social-media">
      <img src="assets/img/github-9-64.ico" alt="github" />
      <img src="assets/img/LinkedIn 1.png" alt="linkedin" />
    </div>

    <div class="links">
      <a href="https://github.com/EricSingel" target="_blank">Imprint</a>
      <span> - </span>
      <a routerLink="/data-protection" routerLinkActive="active">Privacy</a>
    </div>
  </div>
  <div class="right-footer">
    <a href="#">Home</a>
    <a href="#about-me">About</a>
    <a href="#portfolio">Portfolio</a>
  </div>
</footer>
