section {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  margin-top: 84px;
  margin-right: -72px;

  img {
    height: 650px;
    z-index: 10;
  }
}

.bg-intro {
  position: absolute;
  top: 0;
  left: 0;
  height: 900px;
  width: 900px;
  background-color: #181823;
}

.text-block {
  position: absolute;
  top: 300px;
  left: 72px;
  color: white;
  z-index: 999;
}

@media all and (max-width: 1000px) {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      height: 40%;
      width: calc(100% + var(--body-padding-mobile) * 2);
      object-fit: cover;
    }
  }

  .bg-intro {
    position: static;
    height: 50%;
    width: calc(100% + var(--body-padding-mobile) * 2);
  }

  .text-block {
    position: static;
    padding-inline: var(--body-padding-mobile);
  }
}
