<div class="container">
  <div class="item item-1">
    <h2>
      Work that I´ve done <br />
      for the past 4 months
    </h2>
  </div>
  <div class="item item-2">
    <img src="assets/img/pokedex.jpg" alt="Pokedex" />
    <div>
      <h3>Pokedex</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
        asperiores.
      </p>
    </div>
  </div>
  <div class="item item-3">
    <img src="assets/img/Mesa de trabajo 1.png" alt="Sharkiegame" />
    <div>
      <h3>Sharkie</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
        asperiores.
      </p>
    </div>
  </div>
  <div class="item item-4">
    <img src="assets/img/kanban.jpg" alt="Kanbanboard" />
    <div>
      <h3>Join - Kanbanboard</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
        asperiores.
      </p>
    </div>
  </div>
  <div class="item item-5">
    <img src="assets/img/ring of fire.jpg" alt="RingofFire" />
    <div>
      <h3>Ring of Fire</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
        asperiores.
      </p>
    </div>
  </div>
  <div class="item item-6">
    <div>
      <p></p>
    </div>
  </div>
</div>
