<a class="anchor" id="portfolio"></a>
<div class="container">
  <div class="project grid-header">
    <h2>
      Work that I´ve done <br />
      for the past 4 months in part-time
    </h2>
  </div>
  <div
    class="project project-2"
    data-aos="flip-right"
    (click)="showProject('pokedex')"
  >
    <img src="assets/img/pokedex.jpg" alt="Pokedex" />
    <div>
      <h3>Pokedex</h3>
      <p>A Website to show the use, the pros and cons of an API.</p>
    </div>
  </div>
  <div
    class="project project-3"
    data-aos="flip-left"
    (click)="showProject('sharkie')"
  >
    <img src="assets/img/Mesa de trabajo 1.png" alt="Sharkiegame" />
    <div>
      <h3>Sharkie</h3>
      <p>This Project is to get in touch with object-based Programming.</p>
    </div>
  </div>
  <div
    class="project project-4"
    data-aos="flip-right"
    (click)="showProject('kanbanboard')"
  >
    <img src="assets/img/kanban.jpg" alt="Kanbanboard" />
    <div>
      <h3>Join - Kanbanboard</h3>
      <p>
        Teamwork is dream work and this Project was build with two other
        colleagues of the academy, to learn how Github in teams work.
      </p>
    </div>
  </div>
  <div
    class="project project-5"
    data-aos="flip-left"
    (click)="showProject('ring-of-fire')"
  >
    <img src="assets/img/ring of fire.jpg" alt="RingofFire" />
    <div>
      <h3>Ring of Fire</h3>
      <p>A work to set up a Firebase databank and save your game in it.</p>
    </div>
  </div>
  <!-- <div class="project link">
    <div>
      <p></p>
    </div>
  </div> -->
</div>
