<section>
  <div class="text-div">
    <h2 (click)="typeWriter()">Skillset</h2>
    <p [innerText]="viewText"></p>
  </div>
  <div class="grid-skills">
    <div>
      <div class="skills-img" data-aos="zoom-in" data-aos-delay="100">
        <img src="assets/img/html-5.png" alt="" />
      </div>
      <p>HTML</p>
    </div>
    <div>
      <div class="skills-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/css-3.png" alt="" />
      </div>
      <p>CSS</p>
    </div>
    <div>
      <div class="skills-img" data-aos="zoom-in" data-aos-delay="300">
        <img src="assets/img/java-script.png" alt="" />
      </div>
      <p>Javascript</p>
    </div>
    <div>
      <div class="skills-img" data-aos="zoom-in" data-aos-delay="400">
        <img src="assets/img/angular.png" alt="" />
      </div>
      <p>Angular</p>
    </div>
  </div>
</section>
