<section>
  <div>
    <h2>Contact</h2>
    <p>
      Now that you know a lot about me, let me know if you are interested to
      work with me.
    </p>
  </div>
  <form action="/send_mail/send_mail.php" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="message">Message</label>
    <textarea name="message" id="" cols="30" rows="8"></textarea>
    <button type="submit">LET´S GET STARTED</button>
  </form>
</section>
