section {
  height: 600px;
  background-color: white;
  margin-inline: calc(var(--body-padding) * (-1));
  margin-top: 110px;
  display: flex;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.4);
  }
}

.text-div {
  width: calc(50% - (var(--body-padding) * 2));
  padding: var(--body-padding);
}

.img-div {
  width: 50%;
}

@media all and (max-width: 1000px) {
  section {
    flex-direction: column;
    margin-inline: calc(var(--body-padding-mobile) * (-1));
    height: auto;
  }

  .img-div {
    opacity: 1;
    width: 100%;
    transform: translate(0);
  }

  .text-div {
    width: calc(100% - (var(--body-padding-mobile) * 2));
    padding: var(--body-padding-mobile);
    opacity: 1;
    transform: translate(0);

    h2 {
      margin-top: 0;
    }
  }
}
