<div class="anchor" id="about-me"></div>
<section>
  <div class="img-div" data-aos="fade-right" data-aos-duration="500">
    <img src="assets/img/aboutme.jpg" alt="" />
  </div>
  <div class="text-div" data-aos="fade-left" data-aos-duration="500">
    <h2>About me</h2>

    <p>
      After my technical plant manager career my life led me to web development.
      That's why I did further training to become a web developer.
    </p>

    <a href="CV.pdf" target="_blank">More about me</a>
  </div>
</section>
