<section>
  <div class="img-div" data-aos="fade-right" data-aos-duration="500">
    <img src="assets/img/aboutme.jpg" alt="" />
  </div>
  <div class="text-div" data-aos="fade-left" data-aos-duration="500">
    <h2 id="about-me">About me</h2>

    <p>
      My life led me to web development in my later life as a technical plant
      manager. That's why I did further training to become a web developer.
    </p>

    <a routerLink="/" routerLinkActive="active">More about me</a>
  </div>
</section>
