:root {
  --hover-color: rgba(0, 0, 0, 0.7);
  --body-padding-mobile: 36px;
  --body-padding: 72px;
  --margin-top-mobile: 40px;
  --navbar-bg-color: rgba(18, 24, 23, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  max-width: 1920px;
  font-family: "Ubuntu", sans-serif;
  background-color: black;
  font-size: clamp(1rem, 0.5rem + 2.5vw, 1.5rem);
  padding-inline: var(--body-padding);
}

h1 {
  font-size: 76px;
  font-weight: bold;
}

h2 {
  font-size: 55px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

@media all and (max-width: 1000px) {
  body {
    padding-inline: var(--body-padding-mobile);
  }

  h2 {
    font-size: 2.4rem;
  }
}
